:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

button {
  cursor: pointer;
}

h1, h2, h3, p, label, a {
  font-family: "Roboto";
}

input {
  font-family: "Roboto";
  font-weight: 500;
  display: block;
  outline: none;
}

body {
  background-color: rgb(230, 230, 230);
  /* background: url('./images/mountain.jpg') no-repeat;
  background-size: auto;
  background-attachment: fixed; */
  background-color: white;
}

