.forgot-password {
    min-width: 375px;
    max-width: 400px;
    min-height: 180px;
    border: 1px solid white;
    margin: 30px auto;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 2px 5px 4px 2px rgb(206, 206, 206);
    background: rgb(215,215,215);
    background: linear-gradient(140deg, rgba(215,215,215,1) 0%, rgba(241,241,241,1) 100%);

    h1 {
        text-align: center;
        margin-top: 10px;
        color: gray;
        font-weight: 100;
    }

    .error-text {
        text-align: center;
        color: red;
        font-size: 12px;
        margin-top: 10px;
    }

    form {
        min-width: 340px;
        max-width: 380px;
        height: 80px;
        margin: 15px auto;
        padding-left: 5px;
        padding-right: 5px;
        // background-color: rgba(255, 255, 0, 0.444);

        input {
            width: 100%;
            height: 30px;
            border: 1px solid rgb(191, 191, 191);
            border-radius: 8px;
            background: transparent;
            padding-left: 10px;
            color: gray;
            margin-bottom: 10px;

            &::placeholder {
                color: gray;
            }
        }

        button {
            width: 100%;
            height: 30px;
            border: 1px solid blue;
            background-color: blue;
            color: wheat;
            border-radius: 8px;
        }
    }

    .new-code-email {
        margin: auto;
        min-width: 375px;
        max-width: 400px;
        height: 80px;
        border-top: 1px solid rgba(255, 255, 255, 0.518);
        margin-bottom: 10px;

        input {
            width: 100%;
            height: 30px;
            border: 1px solid rgb(191, 191, 191);
            border-radius: 8px;
            background: transparent;
            padding-left: 10px;
            color: gray;
            margin-bottom: 10px;
            margin-top: 10px;

            &::placeholder {
                color: gray;
            }
        }

        button {
            margin-left: calc(50% - 40px);
            width: 80px;
            height: 30px;
            color: wheat;
            border: 1px solid blue;
            background-color: blue;
            border-radius: 5px;
        }
    }

    .new-code-email-none {
        display: none;
    }
}