.sign-up {
    width: 400px;
    height: 510px;
    border: 1px solid white;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 4px 4px 20px 5px rgb(176, 175, 175);
    margin: 30px auto;

    h1 {
        text-align: center;
        margin-top: 5px;
        font-family: 'Roboto';
        font-weight: 100;
        font-size: 40px;
        color: white;
    }

    p {
        text-align: center;
        color: red;
        margin-top: 10px;
        font-size: 12px;
    }

    form {
        width: 360px;
        height: 100%;
        margin-left: calc(50% - 180px);

        input {
            width: 360px;
            height: 30px;
            border: 1px solid white;
            border-radius: 8px;
            background: transparent;
            padding-left: 10px;
            color: gray;
            margin-bottom: 10px;

            &::placeholder {
                color: white;
            }
        }

        label {
            font-size: 10px;
            margin-left: 10px;
            color: gray;
        }

        .gender-section {
            margin-top: 20px;
            width: 180px;
            display: flex;
            margin-left: calc(50% - 90px);

            label {
                margin-top: 8px;
                color: white;
                font-size: 12px;
            }
        }

        button {
            width: 360px;
            height: 30px;
            border: 1px solid blue;
            border-radius: 8px;
            background-color: blue;
            color: wheat;
            margin-top: 10px;
        }

        a {
            display: block;
            width: 50px;
            margin-left: calc(50% - 25px);
            margin-top: 20px;
            text-align: center;
            color: blue;
            font-size: 12px;
        }
    }
}